include MANIFEST.in
include LICENSE
include LICENSE.MIT
include LICENSE.GPL
include LICENSE.LGPL
include changelog.txt
include qtconffile
include cx_setup.py
include py2app_setup.py
include PlatypusScript
include nsisscript.nsi.in
include README
include build-deb.sh
include version.py
include copyright
include requirements.txt
recursive-include doc *.py *.rst *.html *.ico *.png *.jpg
recursive-include doc/man *.1
recursive-include icons *.icns *.ico *_256x256.png
recursive-include PyMca5/EPDL97 *.DAT
include PyMca5/EPDL97/LICENSE
recursive-include PyMca5/PyMca *.py
recursive-include PyMca5/PyMcaCore *.py
recursive-include PyMca5/PyMcaData *.dict *.dat *.cfg *.png *.mat *.html *.pdf *.xml *.gif *.wmz *.mso *.DICT *.TXT *.lib *.mca *.spe
recursive-include PyMca5/PyMcaGraph *.py *.pyx *.pxd *.c *.h
recursive-include PyMca5/PyMcaGui *.py
recursive-include PyMca5/PyMcaIO *.py *.c *.h *.in
include PyMca5/PyMcaIO/sps/LICENSE
recursive-include PyMca5/PyMcaMath *.py *.c *.cl
include PyMca5/PyMcaMath/mva/py_nnma/LICENSE
include PyMca5/PyMcaMath/mva/py_nnma/README
include PyMca5/PyMcaMath/mva/_cython_kmeans/kmeans.pyx
include PyMca5/PyMcaMath/mva/_cython_kmeans/default/kmeans.c
include PyMca5/PyMcaMath/PyMcaSciPy/signal/LICENSE.txt
recursive-include PyMca5/PyMcaMisc *.py
recursive-include PyMca5/PyMcaPhysics *.py
recursive-include PyMca5/PyMcaPhysics/xas *.pyx *.pxd *.c *.h
recursive-include PyMca5/PyMcaPlugins *.py
recursive-include PyMca5/scripts *
recursive-include PyMca5/tests *.py
recursive-include scripts *.py *.bat
recursive-include package *
