[Desktop Entry]
Version=1.0
Name=EDFviewer
Comment=Simple Viewer of ESRF Data Format files
GenericName=Data Viewer
Type=Application
Exec=edfviewer %F
Icon=PyMca
Terminal=false
Categories=Science;Education;Physics;
MimeType=image/x-pymca-edf;
