[Desktop Entry]
Version=1.0
Name=Elementsinfo
Comment=Display X-ray fluorescence related atomic properties
GenericName=Atomic Properties
Type=Application
Exec=elementsinfo
Icon=PyMca
Terminal=false
Categories=Science;Education;Physics;
