[Desktop Entry]
Version=1.0
Name=Peakidentifier
Comment=Find the energy of X-ray spectral lines
GenericName=Peak identifier
Type=Application
Exec=peakidentifier
Icon=PyMca
Terminal=false
Categories=Science;Education;Physics;

