[Desktop Entry]
Version=1.0
Type=Application
Name=PyMCA
Name[en_GB]=PyMCA
GenericName=X-ray Fluorescence Data-Analysis
GenericName[en_GB]=X-ray Fluorescence Data-Analysis
Comment=Analyse X-ray Fluorescence data
Exec=pymca
Icon=PyMca
Terminal=false
Categories=Education;Science;Physics;
MimeType=image/tiff;application/x-hdf;application/x-pymca-hdf5;application/x-pymca-nexus;application/x-pymca-specfile;image/x-pymca-edf;

