[Desktop Entry]
Version=1.0
Name=PyMca ROI tool
GenericName=Region of Interest imaging
Comment=Region Of Interest imaging tool
Type=Application
Exec=pymcaroitool %F
Icon=PyMca
Terminal=false
Categories=Science;Education;Physics;
MimeType=image/tiff;application/x-hdf;application/x-pymca-hdf5;application/x-pymca-nexus;application/x-pymca-specfile;image/x-pymca-edf;

