Source: pymca
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Teemu Ikonen <tpikonen@gmail.com>,
           Picca Frédéric-Emmanuel <picca@debian.org>
Section: science
Testsuite: autopkgtest
Priority: extra
Build-Depends: cython,
               cython3,
               dh-python,
               debhelper (>= 9),
               libqhull-dev,
               python-all-dev,
               python-numpy,
               python-setuptools,
               python-sphinx,
               python-fisx (>= 1.1.6),
               python3-all-dev,
               python3-numpy,
               python3-setuptools,
               python3-sphinx,
               python3-fisx (>= 1.1.6),
Standards-Version: 3.9.8
Vcs-Browser: https://anonscm.debian.org/cgit/debian-science/packages/pymca.git
Vcs-Git: https://anonscm.debian.org/git/debian-science/packages/pymca.git
Homepage: https://github.com/vasole/pymca

Package: pymca
Architecture: all
Depends: python3-pymca5 (>= ${source:Version}),
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Description: Applications and toolkit for X-ray fluorescence analysis -- scripts
 PyMca is set of applications and Python libraries for analysis of
 X-ray fluorescence spectra.
 .
 The applications included in this package are:
 .
  * edfviewer - Display and inspection of data files in ESRF Data Format
  * elementsinfo - Displays element specific X-ray data
  * mca2edf - Converts files from SPEC MCA format to EDF
  * peakidentifier - Displays X-ray fluorescence peaks in a given energy range
  * pymcabatch - Batch fitting of spectra
  * pymcapostbatch - Post-processing of batch fitting results
  * pymca - Interactive data-analysis
  * pymcaroitool - Region-of-interest (ROI) imaging tool
 .
 The PyMca toolkit can read data files in SPEC, ESRF data file (EDF),
 OMNIC, HDF5, AIFIRA and SupaVisio formats.
 .
 This are the scripts of the package.

Package: python-pymca5
Architecture: any
Section: python
Depends: pymca-data (= ${source:Version}),
         python-fisx (>= 1.1.6),
         python-matplotlib,
         python-h5py,
         python-opengl,
         python-qt4 | python-pyside | python-pyqt5,
         python-qt4-gl | python-pyside | python-pyqt5.qtopengl,
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Recommends: python-mdp
Description: Applications and toolkit for X-ray fluorescence analysis -- Python 2
 PyMca is set of applications and Python libraries for analysis of
 X-ray fluorescence spectra.
 .
 The applications included in this package are:
 .
  * edfviewer - Display and inspection of data files in ESRF Data Format
  * elementsinfo - Displays element specific X-ray data
  * mca2edf - Converts files from SPEC MCA format to EDF
  * peakidentifier - Displays X-ray fluorescence peaks in a given energy range
  * pymcabatch - Batch fitting of spectra
  * pymcapostbatch - Post-processing of batch fitting results
  * pymca - Interactive data-analysis
  * pymcaroitool - Region-of-interest (ROI) imaging tool
 .
 The PyMca toolkit can read data files in SPEC, ESRF data file (EDF),
 OMNIC, HDF5, AIFIRA and SupaVisio formats.
 .
 This is the Python 2 version of the package.

Package: python3-pymca5
Architecture: any
Section: python
Depends: pymca-data (= ${source:Version}),
         python3-fisx (>= 1.1.6),
         python3-matplotlib,
         python3-h5py,
         python3-opengl,
         python3-pyqt4 | python3-pyside | python3-pyqt5,
         python3-pyqt4.qtopengl | python3-pyside | python3-pyqt5.qtopengl,
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Recommends: python3-mdp
Description: Applications and toolkit for X-ray fluorescence analysis -- Python 3
 PyMca is set of applications and Python libraries for analysis of
 X-ray fluorescence spectra.
 .
 The applications included in this package are:
 .
  * edfviewer - Display and inspection of data files in ESRF Data Format
  * elementsinfo - Displays element specific X-ray data
  * mca2edf - Converts files from SPEC MCA format to EDF
  * peakidentifier - Displays X-ray fluorescence peaks in a given energy range
  * pymcabatch - Batch fitting of spectra
  * pymcapostbatch - Post-processing of batch fitting results
  * pymca - Interactive data-analysis
  * pymcaroitool - Region-of-interest (ROI) imaging tool
 .
 The PyMca toolkit can read data files in SPEC, ESRF data file (EDF),
 OMNIC, HDF5, AIFIRA and SupaVisio formats.
 .
 This is the Python 3 version of the package.

Package: pymca-data
Architecture: all
Depends: ${misc:Depends}
Description: Architecture independent data files for PyMca
 PyMca is set of applications and Python libraries for analysis of
 X-ray fluorescence spectra.
 .
 This package contains the architecture independent data files for PyMca.

Package: pymca-doc
Architecture: all
Section: doc
Depends: ${misc:Depends},
         ${sphinxdoc:Depends},
Breaks: pymca (<< 5.1.2+dfsg),
Replaces: pymca (<< 5.1.2+dfsg),
Description: Documentation files for PyMca
 PyMca is set of applications and Python libraries for analysis of
 X-ray fluorescence spectra.
 .
 This package contains the documentation files for PyMca.
